<!DOCTYPE html>
<html lang="en" ng-app="minmax">
<head>
    <meta charset="UTF-8">
    <title>Form Validation using core AngularJS</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lesson5.css" rel="stylesheet">

</head>
<body><nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container" >
        <div class="navbar-header" >
            <a class="navbar-brand"
               href="/" >Form Validation using core AngularJS
            </a >
        </div >
    </div >
</nav >

<div class="container main-content" ng-controller="MinMaxCtrl">

    <form ng-submit="onSubmit(theForm.$valid)"
          name="theForm"
    novalidate="novalidate">
        <div class="form-group" >
            <label for="name" >Name</label >
            <input type="text"
                   class="form-control"
                   ng-model="formModel.name"
                   id="name" >
        </div >

        <div class="form-group" ng-class="
        {
        'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
        'has-success': theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)
        }
        ">
            <label for="email" >Email</label >
            <input type="email"
                   class="form-control"
                   ng-model="formModel.email"
                   id="email"
                   required="required"
                   name="email">

            <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
                This field is required.
            </p>
            <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
                Please enter an email with the @ symbol.
            </p>

            <!--<pre>Validation Error? {{ theForm.email.$error | json }}</pre>
            <pre>Field Valid? {{ theForm.email.$valid }}</pre>
            <pre>Field Pristine? {{ theForm.$pristine }}</pre>
            <pre>Form Submitted? {{ theForm.$submitted }}</pre>-->

        </div >

        <div class="form-group" >
            <label for="username" >Username</label >
            <input type="text"
                   class="form-control"
                   ng-model="formModel.username"
                   id="username" >
        </div >

        <div class="form-group" >
            <label for="age" >Age</label >
            <input type="number"
                   class="form-control"
                   ng-model="formModel.age"
                   id="age" >
        </div >

        <div class="form-group" >
            <label for="sex" >Sex</label >
            <select name="sex"
                    id="sex"
                    class="form-control"
                    ng-model="formModel.sex" >
                <option value="" >Please Choose</option >
                <option value="male" >Male</option >
                <option value="female" >Female</option >
            </select >
        </div >

        <div class="form-group" >
            <label for="password" >Password</label >
            <input type="password"
                   class="form-control"
                   ng-model="formModel.password"
                   id="password" >
        </div >

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register
            </button>
        </div>

    </form >

    <!--<pre>{{ theForm | json}}</pre>-->

</div >

<script src="node_modules/angular/angular.min.js"></script>
<script src="js/lesson5.js"></script>

</body>
</html>