<!DOCTYPE html >
<html lang="en"
      ng-app="codecraft" >
<head >
	<title >Understanding Scope: The Dot Notation</title >
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/lesson15.css" rel="stylesheet">
</head >

<body >

<h3>Use Ng-Inspector</h3></br>
<div class="container" >

	<div class="row" >
		<div class="col-md-6" >
			<div class="root" >
				<label >
					<input type="text"
					       ng-model="data.name" />
				</label >
				<p >{{data.name}}</p >

				<div class="row" >
					<div class="" >
						<div class="parent"
						     ng-controller="ParentController" >
							<label >
								<input type="text"
								       ng-model="data.name" />
							</label >
							<p >{{data.name}}</p >

							<div class="child"
							     ng-controller="ChildController" >
								<label >
									<input type="text"
									       ng-model="data.name" />
								</label >
								<button class="btn"
								        ng-click="reset()" >Reset
								</button >
								<p >{{data.name}}</p >
							</div >

						</div >
					</div >
				</div >
			</div >
		</div >
	</div >
</div >

<script src="node_modules/angular/angular.min.js"></script>
<script src="js/lesson15.js"></script>
</body >
</html >
