<!DOCTYPE html >
<html lang="en"
      ng-app="codecraft" >
<head >
	<title >Understanding Scope: Child Scope</title >
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/lesson13.css"
	      rel="stylesheet" >
</head >

<body >


<div class="container" >

	<div class="row" >
		<div class="col-md-6" >
			<div class="parent"
			     ng-controller="ParentController" >
				<label >
					<input type="text"
					       ng-model="name" />
				</label >
				<p >{{name}}</p >

				<div class="child"
					 ng-controller="ChildController">
					<label>
						<input type="text" ng-model="name" />
					</label>
					<button class="btn" ng-click="reset()">Reset</button>
					<p>{{ name }}</p>

				</div>

			</div >
		</div >
	</div >
</div >


<script src="node_modules/angular/angular.min.js"></script>
<script src="js/lesson13.js" ></script >
</body >
</html >
